*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'JetBrains Mono', monospace;
}

img{
  width: 100%;
  display: block;
}

ul,li{
  list-style: none;
}

button{
  display: block;
}

a{
  text-decoration: none;
}


body {
  margin: 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
